            <footer id="footer" class="site-footer standard" role="contentinfo">
        
                <div class="container">
        
                    <nav class="footer-socials" role="navigation" aria-label="Footer Social Links Menu">
        
                        <ul id="social-media-footer" class="social-links-menu">
                            <li>
                                <a href="#" target="_blank">
                                    <span>Fb</span>
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Tw</span>
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Pin</span>
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                        </ul>
        
                    </nav>
        
                    <div class="site-info">
                        <p class="copyright">© 2020 CaliberThemes </p>
                    </div><!-- .site-info -->
        
                </div><!-- .wrap -->
        
            </footer>