        <header id="masthead" class="site-header standard full-width solid" role="banner">
        
            <div class="wrap">
        
                <div id="site-branding">

                    <ul>
                        <li>Greta de Walters</li>
                    </ul>

                    <!--        
                    <a class="logo-brand" href="index-basic.html">
                        <img class="logo" src="assets/images/logo.png" alt="Logo" />
                        <img class="retina-logo" src="assets/images/logo2x.png" alt="Retina Logo" />
                    </a>
                    -->
        
                </div><!-- .site-branding -->
        
                <span id="ham-trigger-wrap"><span class="ham-trigger"><span></span></span></span>
        
                
                <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
                
                    <ul id="top-menu" class="menu">
                        <li class="has-children current-menu-parent">
                            <a href="#">Home</a>                    
                            <ul class="sub-menu">
                                <li class="current-menu-item">
                                    <a href="index-basic.html">Basic</a>
                                </li>
                                <li >
                                    <a href="index-boxed.html">Boxed</a>
                                </li>
                                <li >
                                    <a href="index-vertical.html">Vertical</a>
                                </li>
                                <li >
                                    <a href="index-wide-single.html">Wide Single</a>
                                </li>
                                <li >
                                    <a href="index-parallax-showcase.html">Parallax showcase</a>
                                </li>
                                <li >
                                    <a href="index-portfolio-columns.html">Portfolio Columns</a>
                                </li>                       
                                <li >
                                    <a href="index-slider-multiple.html">Slider Multiple</a>
                                </li>
                                <li >
                                    <a href="index-slider-single.html">Slider Single</a>
                                </li>
                                <li >
                                    <a href="index-split-slider.html">Split Slider</a>
                                </li>
                                <li >
                                    <a href="index-fullscreen-slider.html">Fullscreen Slider</a>
                                </li>
                                <li >
                                    <a href="index-sidebar-menu.html">Sidebar Menu</a>
                                </li>
                                <li >
                                    <a href="index-zigzag.html">Zigzag</a>
                                </li>
                            </ul>
                        </li>               
                        <li class="has-children ">
                            <a href="#">About</a>
                            <ul class="sub-menu">
                                <li >
                                    <a href="about-me.html">About me</a>
                                </li>
                                <li >
                                    <a href="about-us.html">About us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children ">
                            <a href="#">Portfolio Layouts</a>
                            <ul class="sub-menu">
                                <li class="has-children">
                                    <a href="#">Grid</a>
                                    <ul class="sub-menu">
                                        <li >
                                            <a href="portfolio-grid-2-col.html">Two Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-grid-2-col-alt.html">Two Column Alt</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-grid-3-col.html">Three Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-grid-3-col-alt.html">Three Column Alt</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-grid-4-col.html">Four Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-grid-4-col-alt.html">Four Column Alt</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Masonry</a>
                                    <ul class="sub-menu">
                                        <li >
                                            <a href="portfolio-masonry-2-col.html">Two Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-masonry-2-col-alt.html">Two Column Alt</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-masonry-3-col.html">Three Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-masonry-3-col-alt.html">Three Column Alt</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-masonry-4-col.html">Four Column</a>
                                        </li>
                                        <li >
                                            <a href="portfolio-masonry-4-col-alt.html">Four Column Alt</a>
                                        </li>
                                    </ul>
                                </li>
                                <li >
                                    <a href="portfolio-mosaic.html">Mosaic</a>
                                </li>
                                <li >
                                    <a href="portfolio-mosaic-alt.html">Mosaic Alt</a>
                                </li>
                                <li >
                                    <a href="portfolio-load-more-click.html">Loadmore Click</a>
                                </li>
                                <li >
                                    <a href="portfolio-load-more-scroll.html">Loadmore Scroll</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children ">
                            <a href="#">Portfolio Single</a>
                            <ul class="sub-menu">
                                <li >
                                    <a href="portfolio-single-small-image.html">Small Image</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-big-image.html">Big Image</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-small-gallery.html">Small Gallery</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-big-gallery.html">Big Gallery</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-small-video.html">Small Video</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-big-video.html">Big Video</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-small-slider.html">Small Slider</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-big-slider.html">Big Slider</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-small-multimedia.html">Small Multimedia</a>
                                </li>
                                <li >
                                    <a href="portfolio-single-big-multimedia.html">Big Multimedia</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children ">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li >
                                    <a href="blog.html">Blog List</a>
                                </li>                        
                                <li >
                                    <a href="blog-single-standard.html">Single Image</a>
                                </li>
                                <li >
                                    <a href="blog-single-slider.html">Single Slider</a>
                                </li>
                                <li >
                                    <a href="blog-single-video.html">Single Video</a>
                                </li>
                            </ul>                        
                        </li>
                        <li >
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                
                </nav><!-- #site-navigation -->
            </div><!-- .wrap -->
            
        </header>